@import url("https://rsms.me/inter/inter.css");
:root {
    --almostblack: #212121;
    --almostwhite: #F4F4F4;
    --halftransparent: #FFFFFF80;
}
body {
    margin: 0;
    height: 100vh;
    background:linear-gradient(to top left, #7f0000, #7f6a00 70%);
    color: var(--almostwhite);
    font-family: "Inter", sans-serif;
    font-size: x-large;
}
@supports (font-variation-settings: normal) {
    body { 
        font-family: 'Inter var', sans-serif;
    }
}
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    min-height: 45px;
    max-height: 65px;
    height: 5%;
    background-color: var(--halftransparent);
    color: var(--almostblack);
}
nav li {
    
    list-style-type: none;
    margin: 0 1.25% 0 1.25%;
}
a {
    color: inherit;
    transition: font-weight .2s;
}
nav a {
    text-decoration: none;
}
a:hover, a.current {
    font-weight: bold;
}
.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}