html {
    min-height: 100%;
    max-width: 100%;
}
@media all and (max-width: 699px) {
    /* Phone screens */
    body {
        font-size: larger;
    }
    nav {
        /* Solid navbar */
        background-color: #303030;
    }
}
@media all and (min-width: 700px) {
    /* Bigger screens */
    body {
        font-size: x-large;
    }
    nav {
        /* Gradient navbar */
        background-image: linear-gradient(90deg, #303030, #151515 95%);
    }
}
body {
    font-family: "Source Sans Pro", sans-serif;   
    background-color: #151515;
    color: #f4f4f4;
}
code {
    font-family: "Source Code Pro", monospace;
}
nav {
    clear: both;
}
nav ul {
    margin: 0px 0px 15px 0px;
    padding: 5px 0px 5px 15px;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav li a {
    color: #eeeeee;
    text-decoration: none;
    /* Color transition to darkseagreen */
    transition: color .2s ease-in;
}
nav li a.current, nav li a.current:hover {
    color: lightseagreen;
}
nav li a.disabled:hover {
    color: #eeeeee;
}
nav li a:hover {
    color: darkseagreen;
}
.main {
    margin-left: 10px;
}