[submodule "fonts/source-sans"]
	path = fonts/source-sans
	url = https://github.com/adobe-fonts/source-sans.git
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
